{% if site.algolia.enable %}
<!-- Including InstantSearch.js library and styling -->
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@3.5.3/dist/instantsearch.production.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>

<script>
$(document).ready(function() {
    const client = algoliasearch(
        '{{ site.algolia.application_id }}',
        '{{ site.algolia.search_only_api_key }}'
    );

    const search = instantsearch({
      indexName: '{{ site.algolia.index_name }}',
      searchClient: client,
    });

    search.addWidget(
        instantsearch.widgets.configure({
          hitsPerPage: '{{ site.paginate }}',
        })
    );

    search.addWidget(
      instantsearch.widgets.searchBox({
        container: '#search',
        placeholder: 'Поиск',
        showReset: false,
        showSubmit: false,
        showLoadingIndicator: true,
        searchAsYouType: true,  // поиск по мере ввода (true) или после submit-а (false)
      })
    );

    // шаблон для карточки статьи
    const hitTemplate = function(hit) {
        const       title = `${hit.title}`;
        const     content = `${hit.content}`;
        const  author_url = `{{ '/author/' | relative_url }}#${hit.author}`;
        const     authors = JSON.parse('{{ site.data.authors | jsonify }}');
        let          date = '';
        let        author = '';
        let            id = `${hit.url}`.substring(0, `${hit.url}`.length - 1);  // id - это url без последнего слеша
        let           url = `${hit.url}`;

        if (authors[`${hit.author}`] !== undefined) {
            author = authors[`${hit.author}`]['name'];
        }

        if (hit.date) {
            date = moment.unix(hit.date).format('DD-MM-YYYY');
        }

        let ret = `
            <article class="blog-post">
                <p class="blog-post-meta">
                    <time>${date}</time>
        `;

        if (author.length) {
            ret = ret + `
                <a href="${author_url}">${author}</a>
            `;
        }

        ret = ret + `
                </p>

                <h2 class="blog-post-title">
                    <a href="${url}" class="text-dark">${title}</a>
                </h2>

                <p>${instantsearch.snippet({ attribute: 'content', hit })}</p>
            </article>
        `;

        return ret;
    };

    search.addWidget(
        instantsearch.widgets.infiniteHits({
            container: '#hits',
            templates: {
                item: hitTemplate,
                empty: `Ничего не найдено`,
                showMoreText: 'Показать ещё',
            },
        })
    );

    // Starting the search
    search.start();
});
</script>
{% endif %}
