<div class="row">
    <div class="col-auto">
        <img alt="{{ site.data.authors[page.author].name }}" src="{{ '/assets/img/avatars/' | append: page.author | append: '_0200_0200.jpg' | relative_url }}">
    </div>
    <div class="col-12 col-md-8">
        <h5>{{ site.data.authors[page.author].name }}</h5>
        <p>{{ site.data.authors[page.author].summary }}</p>
        <div class="row">
            <div class="col contacts text-nowrap">
                <i class="fas fa-at"></i> <a href="mailto:eugene@vdovenko.xyz">eugene@vdovenko.xyz</a>
            </div>
            <div class="col contacts text-nowrap">
                <i class="fas fa-link"></i> <a href="https://eugene.vdovenko.xyz" target="_blank">eugene.vdovenko.xyz</a>
            </div>
        </div>
    </div>
</div>
