<footer class="blog-footer">
    <p class="text-nowrap">
        <i class="far fa-copyright"></i> {{ 'now' | date: "%Y" }} Copyright &laquo;{{ site.title }}&raquo; | All rights reserved
    </p>
    <p>
        <a href="#" class="back-to-top" style="display: none;">Наверх</a>
    </p>
</footer>

<script src="{{ '/assets/js/fontawesome.all.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
<script src="{{ '/assets//js/bootstrap.bundle.min.js' | relative_url }}"></script>
<script src="{{ '/assets//js/main.js' | relative_url }}"></script>
