<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {%- seo -%}

    <link href="https://coderknows.com/feed.xml" type="application/atom+xml" rel="alternate" title="Coder Knows Atom Feed">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
