<header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-md-between align-items-center">
        <div class="col-md-4 pt-1 d-none d-md-block">
            <a class="text-muted" href="{{ '/feed.xml' | relative_url }}">Подписаться</a>
        </div>
        <div class="col-md-4 text-center text-truncate">
            <h1>
                <a class="blog-header-logo text-dark" href="{{ site.url }}">{{ site.title }}</a>
            </h1>
        </div>
        <div class="col-sm-4 d-flex justify-content-end">
            <nav class="navbar navbar-expand-md navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>

            <a class="text-muted d-md-inline d-none" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
            </a>
        </div>
    </div>
</header>

<div class="py-1 mb-2">
    <nav class="navbar navbar-expand-md navbar-light" style="padding: 0;">
        <div class="collapse navbar-collapse d-md-flex text-center justify-content-md-between" id="navbarTogglerDemo01">
            <a class="nav-link p-2 text-muted" href="{{ '/' | relative_url }}">Блог</a>
            <a class="nav-link p-2 text-muted" href="{{ '/about/' | relative_url }}">О проекте</a>
            <a class="nav-link p-2 text-muted" href="{{ '/author/' | relative_url }}">Авторы</a>
            <a class="nav-link p-2 text-muted" href="{{ '/contact/' | relative_url }}">Контакты</a>
        </div>
    </nav>
</div>
