<!DOCTYPE html>
<html>
{% include head.html %}
<body>

<main role="main" class="container">
    <div class="row">
        <div class="col">
            {% include header.html %}
        </div>
    </div>

    <div class="row">
        <div class="col-12 blog-main">
            <h2 class="mb-5">{{ page.title }}</h2>

            {{ content }}

            {% include posttags.html %}

            {% include authorcard.html %}

            {% if site.disqus.enable and page.comments != false %}
                <div id="disqus_thread"></div>
            {% endif %}
        </div>
    </div>
</main>

{% include footer.html %}

<script src="{{ '/assets/js/fontawesome.all.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
<script src="{{ '/assets//js/bootstrap.bundle.min.js' | relative_url }}"></script>

{% include disqus.html %}

<script src="{{ '/assets//js/main.js' | relative_url }}"></script>
</body>
</html>
